* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.pie-chart {
    border: 1px solid black;
    height: 600px;
    width: 600px;
}

.target {
    animation: paint 1s;
    animation-fill-mode: forwards;
}

.etc {
    stroke: #0984e3;
}

.transportation {
    stroke: #74b9ff;
}


.grocery {
    stroke: #00cec9;
}

.life {
    stroke: #81ecec;
}

.inner {
    border: none;
}

@keyframes paint {
    from {
        stroke-dasharray: 0 62.83;
    }
}

